<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <!-- fuerza IE a utilizar el motor de renderizado más actual que esté disponible (incluso en intranets) & Chrome Frame (plugin para IE 6, 7 y 8)-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="galeria de gemas naturales, proyecto en angularJS del tutorial del curso de angular en la plataforma online CodeSchool" />
    <meta name="author" content="Fernando Palacios Landi" />
    <title>galeria de gemas naturales</title>

    <!-- ENLACES EXTERNOS -->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="vendor/js/angular.js"></script>
</head>
<body class="row" ng-app="store">
    <div    class="col-md-push-4 col-md-4 col-sm-push-3 col-sm-6 col-xs-push-2 col-xs-8 text-center">
        <ul     class="list-group"
                ng-controller="StoreController">
                <!-- ng-show="!store.product.soldOut" || ng-hide="store.product.soldOut" -->
                <!-- solo apareceran los <li> cullo image.full !== "" -->
            <li     class="list-group-item gallery"
                    ng-controller="GalleryController as gallery"
                    ng-repeat="product in products"
                    ng-show="!product.soldOut && product.images.full.length ">
                    <a href="" ng-click="gallery.setCurrent(0)">fig 1</a>
                    <a href="" ng-click="gallery.setCurrent(1)">fig 2</a>
                <h1>
                    {{product.name}}
                    <em class="pull-right">{{product.price | currency}}</em>
                </h1>
                <p><img     ng-src="{{product.images.full[gallery.current]}}"
                            alt="{{product.images.alt}}"></p>
                
                <ul class="col-md-12">
                    <li     class="small-image img-thumbnail"
                            ng-repeat="imageThumb in product.images.thumb" >
                        <img ng-src="{{imageThumb}}" />
                    </li>
                </ul><br/><br/>

                <div ng-controller="PanaleController as panel">
                    <!-- por defecto la propiedad tab sera 1, al refrescar la pagina -->
                        <ul  class="nav nav-pills nav-justified">
                            <!-- asignamos la clase active de bootstrap dependiendo del valor de la propiedead tab -->
                            <li ng-class="{active: panel.isSelected(1)}">
                                <!-- asignamos un valor al click de cada pill -->
                                <a href="" ng-click="panel.selectedTab(1)">Description</a>
                            </li>
                            <li ng-class="{active: panel.isSelected(2)}">
                                <a href="" ng-click="panel.selectedTab(2)">Specs</a>
                            </li>
                            <li ng-class="{active: panel.isSelected(3)}">
                                <a href="" ng-click="panel.selectedTab(3)">Reviews</a>
                            </li>
                        </ul>

                        <div product-description class="panel" ng-show="panel.isSelected(1)">
                            <!-- directiva productDescription -->
                        </div>
                        <div product-specs class="panel" ng-show="panel.isSelected(2)">
                            <!-- directiva productSpecs -->
                        </div>
                        <div class="panel" ng-show="panel.isSelected(3)">
                            <h3>Reviews</h3>
                            <!-- DATA PRODUCT-REVIEWS INCLUDE
                            <blockquote ng-include="product.include_reviews_tpl"
                                            ng-repeat="review in product.reviews">
                            </blockquote>
                            -->

                            <!-- DATA PRODUCT-REVIEWS ATRIBUTE DIRECTIVE
                            <blockquote product-reviews
                                            ng-repeat="review in product.reviews">
                            </blockquote>
                            -->

                            <!-- DATA PRODUCT-REVIEWS ELEMENT DIRECTIVE-->
                            <product-reviews></product-reviews>

                            <!-- DIRECTIVE WHITH CONTROLLER ASOCIATED -->
                            <!-- <form-reviews ng-controller="ReviewController as reviewCtrl"></form-reviews> -->
                            <form-reviews></form-reviews>
                            
                        </div>
                    <!-- en angular las expresiones {{tab}} se reevaluan cuando las propiedades cambian [tab = 1] -->
                </div>

                <div class="col-md-12">
                    <input type="button" ng-show="product.canPurchase"
                            value="Add to cart" class="btn btn-primary btn-block"/></div>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>